
/*CSS: element, id, class 
selector{    
property:value; 
}
*/ 
body{    
background-color: #e69d8e
} h1{    
text-decoration:underline
} 
#header{    
text-align:center;}
<style type="text/css">

body {
	background-color: #CCC;
	margin:80px 80px 100px 100px;
}
div#fixedheader {
	position:fixed;
	top:0px;
	left:0px;
	width:100%;
	color:#CCC;
	background:#633426;
	padding:20px;
}
</style>
